# Python
tests/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Poetry
poetry.lock
.env
.venv/
venv/
ENV/
env/

# pytest
.cache/
.pytest_cache/

# IntelliJ IDEA
.idea/
*.iml

# macOS
.DS_Store

# Logs
*.log

# Docker
*.pid